:host {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  //align-items: center;
  padding: 16px;
  flex-direction: row;
}

@media (max-width: 400px) {
  .hockey-goalie-list-card {
    background: rgba(255, 255, 255, 0.9);
    width: 375px;
    height: 96x;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hockey-goalie-list-header-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hockey-goalie-list-footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 401px) {
  .hockey-goalie-list-card {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 96x;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hockey-goalie-list-header-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hockey-goalie-list-footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
