<mat-card class="hockey-goalie-list-card">
  <div
    *ngIf="hockeyLeague && !showHockeyGoalieDetailsSelected"
    class="hockey-goalie-list-header-row"
  ></div>
  <mat-card-content>
    <div *ngIf="hockeyGoalies && !showHockeyGoalieDetailsSelected">
      <app-data-table
        [entities]="hockeyGoalies"
        [tableDetails]="tableDetails"
        (rowClickEvent)="onHockeyGoalieSelected($event)"
      ></app-data-table>
      <div class="hockey-goalie-list-header-row">
        <h3>
          {{
            selectedHockeyGoalie
              ? selectedHockeyGoalie.firstName +
                " " +
                selectedHockeyGoalie.lastName
              : ""
          }}
        </h3>
      </div>
      <div class="hockey-goalie-list-footer-row">
        <button
          class="watchtower-button"
          *ngIf="selectedHockeyGoalie"
          mat-stroked-button
          (click)="onShowHockeyGoalieDetails()"
        >
          Show Details
        </button>
      </div>
    </div>
    <div
      *ngIf="hockeyGoalies && showHockeyGoalieDetailsSelected"
      class="hockey-goalie-list-footer-row"
    >
      <button
        class="watchtower-button"
        *ngIf="selectedHockeyGoalie"
        mat-stroked-button
        (click)="onClearHockeyGoalieSelection()"
      >
        Clear Goalie Selection
      </button>
    </div>
  </mat-card-content>
</mat-card>
