:host {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  //align-items: center;
  padding: 16px;
  flex-direction: row;
}

.hockey-goalie-list-card {
  background: rgba(255, 255, 255, 0.9);
  width: 100%; /* Full width of the parent */
  height: 96x; /* Fixed height */
  border: 2px solid #ccc; /* Add a border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for a subtle effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
