<mat-card class="hockey-header-card">
  <mat-card-content>
    <div class="league-row" *ngIf="!showGoalies">
      <div *ngFor="let league of hockeyLeagues">
        <button
          class="watchtower-button"
          mat-raised-button
          (click)="onSelectLeague(league)"
        >
          {{ league.leagueCode }}
        </button>
      </div>
    </div>
    <div class="league-option-row">
      <button
        *ngIf="isLeagueSelected && !showGoalies"
        class="watchtower-button"
        mat-stroked-button
        (click)="onShowGoalies()"
        [disabled]="!isLeagueSelected"
      >
        Show Goalies
      </button>
      <button
        class="watchtower-button"
        *ngIf="showGoalies || isLeagueSelected"
        mat-stroked-button
        (click)="onClearLeagueSelection()"
      >
        Clear League Selection
      </button>
    </div>
  </mat-card-content>
</mat-card>
