<div class="hockey-main-container">
  <app-hockey-header
    [hockeyLeagues]="hockeyLeagues"
    (leagueSelectionChange)="onLeagueSelect($event)"
    (showGoaliesChange)="onShowGoalies()"
    (clearLeagueSelection)="onClearLeagueSelection()"
  ></app-hockey-header>
  <app-hockey-goalie-list
    *ngIf="showGoalies"
    [hockeyLeague]="selectedLeague"
    (showHockeyGoalieDetails)="onShowHockeyGoalieDetails($event)"
    (clearHockeyGoalieSelection)="onClearHockeyGoalieSelection()"
  ></app-hockey-goalie-list>
  <app-hockey-goalie-details
  *ngIf="showGoalieDetails"
></app-hockey-goalie-details>
</div>
