<div class="hockey-main-container">
  <app-loading-placeholder
    *ngIf="hockeyLeagues.length === 0"
    [dataDescription]="dataDescription"
  ></app-loading-placeholder>
  <app-hockey-header
    *ngIf="hockeyLeagues.length > 0"
    [hockeyLeagues]="hockeyLeagues"
    (leagueSelectionChange)="onLeagueSelect($event)"
    (showGoaliesChange)="onShowGoalies()"
    (clearLeagueSelection)="onClearLeagueSelection()"
  ></app-hockey-header>
  <app-hockey-goalie-list
    *ngIf="showGoalies"
    [hockeyLeague]="selectedLeague"
    (showHockeyGoalieDetails)="onShowHockeyGoalieDetails($event)"
    (clearHockeyGoalieSelection)="onClearHockeyGoalieSelection()"
  ></app-hockey-goalie-list>
  <app-hockey-goalie-details
    *ngIf="showGoalieDetails"
    [hockeyGoalie]="selectedGoalie"
  ></app-hockey-goalie-details>
</div>
