:host {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  //align-items: center;
  padding: 16px;
  flex-direction: row;
}

.hockey-goalie-details-card {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  min-width: 480px;
  overflow-x: auto;
  white-space: nowrap;
  height: 96x;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hockey-goalie-list-header-row {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-tab-label {
  color: black;
}
