<mat-card class="hockey-goalie-details-card">
  <div *ngIf="hockeyGoalie" class="hockey-goalie-list-header-row">
    <mat-card-title class="component-title">{{
      hockeyGoalie.firstName + " " + hockeyGoalie.lastName
    }}</mat-card-title>
  </div>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Goals Against">
        <app-data-table
          [entities]="hockeyGoalSummaryGridItems"
          [tableDetails]="goalTableDetails"
          (rowClickEvent)="onHockeyGoalSummarySelected($event)"
        ></app-data-table>
      </mat-tab>
      <mat-tab label="Assists Against">
        <app-data-table
          [entities]="hockeyAssistSummaryGridItems"
          [tableDetails]="assistTableDetails"
          (rowClickEvent)="onHockeyAssistSummarySelected($event)"
        ></app-data-table>
      </mat-tab>
      <mat-tab label="Position Breakdown"> Pie Chart Tab </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
