:host {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex-direction: row;
}

.custom-header-row {
  background-color: black;
  color: white;
}

.custom-header-row:hover {
  background-color: black;
  color: white;
}

.custom-data-row {
  background-color: whitesmoke;
  cursor: pointer;
}

.custom-data-row:hover {
  background-color: darkgray;
  cursor: pointer;
}

.mat-cell {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid black;
  color: black;
}


