@use "@angular/material" as mat;

// Include Angular Material core styles
@include mat.core();

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

// Define custom colors
$custom-black: #000000;
$custom-white: #ffffff;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Use custom colors in global classes
.component-title {
  color: $custom-black;
}

// custom theme for all app buttons
.watchtower-button,
.mat-button,
.mat-raised-button,
.mat-flat-button {
  background-color: $custom-black !important;
  color: $custom-white !important;
  &:hover {
    background-color: $custom-black !important;
  }
}

